---
layout: default
---
<div class="gear initially-hidden" onclick="gear()"></div>
<div class="content">
	<div id="joke-container">
		<h1 id="joke-title"></h1>
		<p id="joke-text"></p>
	</div>
	<div id="reload" class="initially-hidden">{% include reload.html %}</div>
</div>

<div class="gear" onclick="gear()">{% include gear.html %}</div>

	<div class="options" id="Options">
		<div class="close" onclick="options()"></div>
		<p class="options-title">Options:</p>
		<table class="options-table">
			<tr class="options-row">
					<td class="tdr, options-line">
						<span class="toggle-label">Swear</span>
					</td>
					<td class="options-line">
						<label class="switch">
							<input onclick="toggleSwear()" type="checkbox">
							<span class="slider round"></span>
						</label>
					</td>
			</tr>
			<tr class="options-row">
					<td class="tdr, options-line">
						<span class="toggle-label">Stereotype</span>
					</td>
					<td class="options-line">
						<label class="switch">
							<input onclick="togglStereotype()" type="checkbox">
							<span class="slider round"></span>
						</label>
					</td>
			</tr>
			<tr class="options-row">
					<td class="tdr, options-line">
						<span class="toggle-label">NSFW</span>
					</td class="options-line">
					<td class="options-line">
						<label class="switch">
							<input onclick="toggleNsfw()" type="checkbox">
							<span class="slider round"></span>
						</label>
					</td>
			</tr>
			<tr class="options-row">
					<td class="tdr, options-line">
						<span class="toggle-label">Dark</span>
					</td>
					<td class="options-line">
						<label class="switch">
							<input onclick="toggleDark()" type="checkbox">
							<span class="slider round"></span>
						</label>
					</td>
			</tr>
		</table>
	</div>
<div class="overlay" id="Overlay" onclick="options()"></div>
<p class="initially-hidden" id="about">Jokes collected from various sources. Site design by <a class="link" href="http://aaron.keydesign.com" target="_">Aaron Campbell</a> and <a class="link" href="https://oliviachang.me" target="_">Olivia Chang</a>. View the <a href="https://github.com/oliviachang29/jokes" target="_">Github repo</a>.</p>
