@font-face {
	font-family: 'Domaine Display';
	src: url('/assets/fonts/DomaineDisplay-Semibold.ttf')  format('truetype');
	font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'National';
	src: url('/assets/fonts/National-Book.ttf')  format('truetype');
	font-weight: normal;
  font-style: normal;
}